#equal{
    width: 500px;
    background: rgb(75, 147, 75);
    padding: 40px;
    padding-top:5px;
    padding-bottom:10px;
    border-radius: 5px;
    margin-right: 70px;
}
.upload{
    display: none;
}
.imgButton{
    width: 100%;
    height: 60px;;
}
.fap{
    margin: 20%;
    padding-left:14%;
    padding-right:0px;

}
.start-right{
    margin-left: 52%;
}
.project-location{
    text-align: right;
    font-size: medium;
}
.project-amount{
    padding:13px;
    padding-right:90px;
    margin-left: 8px;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    outline: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255,255,255,0);
    line-height: 1.21428571em;
    font-size: 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
}