#cards{
    margin-top:100px;
    margin-left:30px !important;
}
.slide {

    width:700px !important;
    /*
    -webkit-animation: slide-right 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: slide-right 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
         */   
}
.right{
    width: 300px !important;
    margin-left: 30px;
}
.two{
    width: 60px;
}
.fund-amount{
    padding:13px;
    padding-right:90px;
    margin-left: 8px;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    outline: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255,255,255,0);
    line-height: 1.21428571em;
    font-size: 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
}

.fund-amount:focus {
    outline:0;}
#description{
    margin-left:30px !important;
    margin-top: 30px;
}

#big{
    width: 700px;
    height: 400px;
}
  
