.register-form{
    width: 500px; 
    height: 600px;
}
.register-desc{
    width: 500px; 
    height: 600px;
    margin-left: 470px !important;

}
#steps{
    margin-top: 40px;
}
#login-tree{
width: 530px;
height: 370px;
margin-top: 20px;
}